*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", sans-serif;

}
.logo{
    background: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.graficlogo{
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: auto;
    background: #000;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    flex: 0 1 auto;
}
footer a{
    color: white;
    font-size: 14px;
    margin-left: 10px;
}

footer nav a:hover{
    border-bottom: 1px solid white;
}
.social{
    padding-top: 20px;
    padding-bottom: 20px;

}
.social img:hover{
    background: #494949;
    border-radius: 50%;
}
footer p{
    color: #494949;
}
main{
    min-height: 800px;
}
#reg{
    border: 3px solid black;
    width: 25em;
    height: 30em;
    margin: 20px;
    padding: 20px;
    box-shadow:
      inset 0 -5em 5em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(206, 204, 204),
      0.7em 0.7em 2em rgba(0, 0, 0, 0.3);

    
}
#reg_container{
    display: flex;
    padding-top: 10em;
    justify-content: center;
}

#log_container{
    display: flex;
    padding-top: 10em;
    justify-content: center;
}
#log{
    border: 3px solid black;
    width: 25em;
    height: 30em;
    margin: 20px;
    padding: 20px;
    box-shadow:
      inset 0 -5em 5em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(206, 204, 204),
      0.7em 0.7em 2em rgba(0, 0, 0, 0.3);
}
#form-div{
    display: flex;
    flex-direction: column;
}
#form-form{
    display: flex;
    flex-direction: column;

    align-items: center;
}
input{
    padding: 0.5em;
    margin: 1em;
    width: 75%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: inherit;
    outline: none;
    text-align: center;

}
button{
    margin-left: 19em;
    margin-top: 7em;
    background-color: #000;
    color: white;
    border-radius: 1em;
}
#reg-h2{
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
}
#log-h2{
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
}
p{
    font-size: small;
    color: #000;
}
@media screen and (max-width: 360px){
    button{
        background-color: #000;
        margin-left: 0;
        margin-top: 0;

    }
}